* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: darkslategray;
    color: #333;
}
header{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#na {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d43778f6;
    padding: 15px 30px;
    color: white;
}
#left-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
#marqu{
    background-color:  #d43778f6;
    color: white;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#right-nav-img{
    display: none;
}

.hero {
    /* background: url('jewelleryBannar.jpg') center/cover no-repeat; */
    padding: 95px 20px;
    text-align: center;
    color:black;
    background-color: darkslategray; /*fallback in case image fails*/
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
}
#upi{
    width: 100%;
    height: 100%;
    padding: 0px 30px;
}

.btn {
    background-color: #d4af37;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.products {
    padding: 50px 30px;
    text-align: center;
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    
}
.products h2{
    color: white;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 50px;
}
@media (max-width:900px) {
     li{
        display: none;
    }
    #right-nav-img{
        display: block;
    }
    
}
@media (max-width:900px) {
    .product-grid{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        /* text-align: center; */
        padding-left: 40%;
        /* margin-left: 40%; */

    }
    
    
}
@media (max-width:500px) {
    
    .left-nav{
        display: none;
    }
}
/* @media (max-width:900px) {
    .hero h1{
        width: 1000px;
        height: 64px;
    }
    
} */
